/* CSS Document */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
body {
	font:20px/1.5 'Abel';
	padding:0;
	margin:0;
	background-color: white;
}

html {
  scroll-behavior: smooth;
}

/* Global */
.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin:0;
	padding:0;

}

.button_1{
	height:38px;
	background: #66BAF9;
	border:none;
	padding-left:20px;
	padding-right:20px;
	color:white;
}

/* Header */
header {
	z-index: 2;
	background: transparent;
	padding: 10px 0 10px 0;
	min-height: 100px;
	width:80%;
}

#menu {
 height: 100px;
  position: fixed;
  width: 100%;
  margin:auto;
overflow: hidden;

}
.black{
    transition: background-color 1000ms;
}

header img {
	width: 110px;
	height: 70px;
	margin-left: 150px;
	margin-top: 20px;
}
header a {
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

/* change color black after background changes white */

.high {
	color:black;
}

header li {
	float:left;
	display: inline;
	padding:0 20px 20px 20px;
}

header #logo{
	position: relative;
	z-index: 1;
	float:left;
}

header #logo2{
	position: absolute;
	z-index: 1;
	float:left;
}

header nav{
	margin-top:35px;
	float:right;
	z-index: 1;
	margin-right: 50px;
}

#home {
	color:#A88650;
	font-weight: 500;
}

header .highlight, header .current a{
	color:#92CEFB;
	font-weight: bold;
}

header a:hover{
	color: #DADADA;
	font-weight: bold;
}

p {
  font-size: 13px;
}

#fb {
	font-size: 100px;
	text-align:left;
	color:white;
}

.fade{
  transition: background-color 1000ms;
  background-color: white;
  min-height: 40px;
  color:black;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.fade a {
	color: black;
}

/* Underline From Center */
.center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: black;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.center:hover:before, .center:focus:before, .center:active:before {
  left: 0;
  right: 0;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}




/* Intro Section */
 #wrapper {
	position: relative;
	height: 100vh;
 }

#slider-area {
	position: absolute;
	height: 100vh;
	width:100%;
	top:0;
	left:0;
}
#slider-area .owl-item div {
	height: 100vh;
	width:100%;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: 50% 50%;
}

#hello {
  position:relative;
  width:100%;
  height: 100%;
  color:white;
  background-color: white;
}


/* Breadcrumb */

.breadcrumb {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: rgba(0,0,0,0.60);
  -webkit-box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
  box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
}

.breadcrumb h1 {
  padding-top: 20px;
  font-size: 20px;
  color:white;
}

.breadcrumb a {
  text-decoration: none;
  color:#A88650;
}

.breadcrumb p {
  display:inline-block;
  font-size: 18px;
}

.overlap {
  width: 100%;
  height: 120px;
}
/* Welcome */

#welcome {
  position:relative;
  width:100%;
  z-index: 1;
  height: 100%;
  color:black;
  background-color: rgba(0,0,0,0.60);
}

.box {
    position: relative;
    margin: auto;
    top: 30%;
    right: 0;
    bottom: 0;
    left:0;
    width: 80%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    height: 40%;
    text-align: center;
	padding:20px;
}

.box #welmes {
  font-size: 65px;
  color: black;
  text-align: center;
  padding-top:50px;
}

.box h1 {
  font-size: 30px;
  color: black;
  text-align: center;
}

.box p {
  font-size: 16px;
  color:black;
  text-align: center;
  width:50%;
  margin:auto;
}

.box #download {
  border-spacing: 10px; /*Optional*/
  border-radius: 50px;
  background-color:transparent;
  border: 1px solid white;
  color:white;
  text-align: center;
  padding:20px;
}
#down {
	position: relative;
	bottom:5px;
}

.box a {
    color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	padding: 0 1px 0 25px;
}

#wel {
	position: relative;
	top:10%;
}
i.fa.fa-arrow-circle-down {
	font-size:28px;
	color:white;
	padding:5px;
}

/* Icon Down */
@-webkit-keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
/* Icon Down */
.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-down .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover .hvr-icon, .hvr-icon-down:focus .hvr-icon, .hvr-icon-down:active .hvr-icon {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/* CV download*/
/* About */
#about {
	width:100%;
	height: 100%;
	clear:both;
  background-color:white;
	color: black;
	padding:50px 0 50px 0;
	-webkit-box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
	box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
}

#about h1 {
  text-align: center;
	font-size: 2.5em;
	font-weight: 200;
	margin-bottom: 20px;
}

#about p {
	font-size: 18px;
  text-align: center;
  margin: auto;
  width:60%;
}

div #about {
    width: 70%;
}

#progress {
  width:100%;
  height: 400px;
}
#bars {
  padding-top:20px;
  padding-left: 30px;
  text-align: center;
}

#progress h1 {
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
}

#progress h3 {
  text-align: right;
}

#progress h2 {
  text-align: left;
}
.prog {
  width:45%;
  margin: auto;
}

.skill {
  padding-bottom: 20px;
}

.skill_bar {
  width:600px;
  height:20px;
  border-radius: 20px;
  background:#c0c0c0;
  margin:auto;
}

.skill_bar_progress {
  border-radius: 20px;
  width:0%;
  height:100%;
  background:#A88650;
}


#cv {
	width:100%;
	height: 100%;
	clear:both;
	color: black;
	padding:50px 0 50px 0;
	background-color: rgba(0,0,0,0.60);
	-webkit-box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
	box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
}

#cv h1 {
	font-size: 2.5em;
	font-weight: 200;
	margin-bottom: 20px;
}

#cv b {
	font-weight: 400;
}

#download {
  border-spacing: 10px; /*Optional*/
  border-radius: 50px;
  background-color:transparent;
  border: 1px solid white;
  color:white;
  text-align: center;
  padding:20px;
}

#cv a {
    color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding: 0 1px 0 25px;
}

div #cv {
    width: 70%;
}

.alignleft {
	float: left;
	color:white;
}
.alignright {
	float: right;
}

#projects {
	width:100%;
	height: 100%;
	color: black;
	background-color:#F8F9FA;
	overflow: hidden;
}

#part-title {
  width:100%;
  text-align: center;
  margin:auto;
  font-size: 2.5em;
  padding:25px 0 25px 0;
}

#projects img {
  width:300px;
  height:250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding:30px;
}

#projects h1 {
  color:#A88650;
  text-align:center;
  font-size: 22px;
  letter-spacing: 3px;
  padding:20px;
}

#projects h1:hover {
  color:#000000;
}

#projects p {
  color: black;
  text-align: center;
  padding: 30px 60px 30px 60px;
}

#markinfo {
  display:block;
}
 /* Resume */
#partners {
	-webkit-box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
	box-shadow: inset 0px 0px 17px 2px rgba(0,0,0,0.35);
	width:100%;
	height: 100%;
	background-color:#B69766;
	overflow: hidden;
}
.column {
  float: left;
  width: 33.33%;
  height: 400px;
  color: white;

}

#boxes {
	height:1000px;
}

.columnb {
  float: left;
  width:33.3%;
  height: 400px;
  -webkit-box-shadow: 10px 10px 24px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 24px -16px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 24px -16px rgba(0,0,0,0.75);
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
	header img {
	width: 90px;
	height: 60px;
	margin-left: 70px;
	margin-top: 20px;
}
}

@media screen and (max-width: 1400px) {
  .columnb {
    width: 100%;
  }
	#projects{
		height: 2600px;
	}
	#boxes{
		height: 2600px;
	}
}

@media screen and (max-width: 780px) {
	.alignleft {
		width:100%;
	}
	.alignright {
		text-align:center;
	}

}

@media screen and (max-width: 1610px) {
	#fb {
		font-size:50px;
	}
}

@media screen and (max-width: 460px) {

	#fb {
		font-size:30px;
	}
}

#part-title {
  width:100%;
  text-align: center;
  margin:auto;
  font-size: 2.5em;
  padding:25px 0 25px 0;
}

#partners img {
  width:120px;
  height:120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding:30px;
}

#coming {
	margin:auto;
	position: relative;
	text-align: center;
	top: 150px;
	font-size: 50px;
    line-height:51px;
    vertical-align:middle;
}
#partners h1 {
  text-align:center;
  font-size: 22px;
  letter-spacing: 3px;
  padding:20px;
}

#partners p {
  text-align: center;
  padding: 30px 60px 30px 60px;
}

.column:hover {
	cursor: pointer;
	background-color: #fff;
	color:#B69766;
}

.columnb:hover {
	cursor: pointer;
	background-colo r:#E1E1E1;
	color:#B69766;
}
#markinfo {
  display:block;
}

/* Contact me */


 /* social */



#social {
	text-align: center;
}



/* Footer */

footer {
  position:relative;
   bottom:0;
	height: 200px;
	width: 100%;
	background-color: #1A1A1A;
	color:white;
	text-align: center;
}


footer h4 {
	color:#7a7d7f;
	padding:20px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.footer-social-links{
    font-size: 25px;
  text-align: center;
}
.footer-social-links a{
    width: 40px;
    height: 40px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: white;

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-links a i,
.footer-social-links a span{
    position: relative;
    top: 7px;
    left: 1px;
}
.footer-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

}
.footer-social-links a:hover{
    color: #A88650;
}
.footer-social-links a:hover:before{
    background: #111;
}



/* Help Page */

#help {
	width:100%;
	height: 100%;
	background: white;
	text-align: center;
	padding:50px;
}

.con {
	width: 50%;
	height: 500px;
	margin: auto;
	background-color: #F8F8F8;
	-webkit-box-shadow:  0px 0px 17px 2px rgba(0,0,0,0.15);
	-moz-box-shadow:  0px 0px 17px 2px rgba(0,0,0,0.15);
	box-shadow:  0px 0px 17px 2px rgba(0,0,0,0.15);
}

#help h1 {
	text-align: center;
	font-weight: 700;
	font-size: 1.6em;
	padding: 50px 0 20px 50px ;
	
}

form {
  margin: 50px;
}
.input-field {
  margin: auto;
  position: relative;
  width: 70%;
  height: 44px;
  line-height: 44px;
  padding-bottom: 30px;
}

label {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}

textarea {
  width: 100%;
  border: 0;
  outline: 0;
  height: 70px;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}
textarea:invalid {
  outline: 0;
  color: #ff2300;
}
textarea:focus,
textarea:valid {
  border-color: #A88650;
}
textarea:focus~label,
textarea:valid~label {
  font-size: 16px;
  top: -30px;
  color:  #A88650;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}
input:invalid {
  outline: 0;
  color: #ff2300;
}
input:focus,
input:valid {
  border-color: #A88650;
}
input:focus~label,
input:valid~label {
  font-size: 16px;
  top: -24px;
  color:  #A88650;
}
/*responsive */

@media only screen and (max-width: 1500px) {
	#partners{
		left:20%;
	}
}
